/* line 1, ../scss/_typo.scss */
.PTSansCaption {
  font-family: "PT Sans Caption", sans-serif;
}

/* line 4, ../scss/_typo.scss */
.headlineBook {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* line 9, ../scss/_typo.scss */
.headlineBlack, .title {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 900;
}

/* line 14, ../scss/_typo.scss */
.PTSerif {
  font-family: 'PT Serif', serif;
}

/* line 20, ../scss/_typo.scss */
.title--panel {
  font-size: 26px;
}

/* line 24, ../scss/_typo.scss */
a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

/* line 29, ../scss/_typo.scss */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 6, ../scss/infographic.scss */
.row {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

/* line 12, ../scss/infographic.scss */
.charts h3 {
  font-size: 22px;
  margin: 50px 0 20px 0;
}
/* line 16, ../scss/infographic.scss */
.charts img {
  display: inline-block;
  max-width: 100%;
}

/* line 21, ../scss/infographic.scss */
.yellow {
  color: #ffcc00;
  font-size: 2.4em;
}

/* line 25, ../scss/infographic.scss */
.white {
  color: #fff;
  font-size: 2.4em;
}

/* line 29, ../scss/infographic.scss */
.digit-1 {
  background: url("../img/infographic/fontain.jpg") no-repeat center top;
  max-width: 653px;
  max-height: 796px;
  display: block;
  height: 796px;
}
/* line 35, ../scss/infographic.scss */
.digit-1 .yellow {
  top: 470px;
}
/* line 38, ../scss/infographic.scss */
.digit-1 .white {
  top: 450px;
}
/* line 41, ../scss/infographic.scss */
.digit-1 p {
  display: block;
  position: relative;
  left: 20.2%;
  color: #fff;
  top: 430px;
  max-width: 400px;
}
/* line 49, ../scss/infographic.scss */
.digit-1 .yellow, .digit-1 .white {
  display: block;
  position: relative;
  left: 19%;
  line-height: 2em;
  font-size: 3.6em;
}
/* line 55, ../scss/infographic.scss */
.digit-1 .yellow span, .digit-1 .white span {
  font-size: 3em;
}

/* line 60, ../scss/infographic.scss */
.digit-2 {
  background: url("../img/infographic/border.png") repeat;
  padding: 0 10px 10px 10px;
}
/* line 63, ../scss/infographic.scss */
.digit-2 .whitewrap {
  background-color: #fff;
  padding: 16px;
}
/* line 66, ../scss/infographic.scss */
.digit-2 .whitewrap p {
  margin-bottom: 0;
}
/* line 69, ../scss/infographic.scss */
.digit-2 .whitewrap .centered {
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid #282f32;
  margin-bottom: 10px;
}
/* line 78, ../scss/infographic.scss */
.digit-2 .whitewrap .left-digit {
  width: 54%;
  padding: 10px 10px 10px 0;
  display: table-cell;
}
/* line 82, ../scss/infographic.scss */
.digit-2 .whitewrap .left-digit .yellow span {
  font-size: 3em;
  line-height: 1em;
  display: block;
  margin-bottom: -18px;
}
/* line 89, ../scss/infographic.scss */
.digit-2 .whitewrap .right-digit {
  width: 46%;
  border-left: 1px solid #282f32;
  padding-left: 20px;
  display: table-cell;
}
/* line 94, ../scss/infographic.scss */
.digit-2 .whitewrap .right-digit .yellow span {
  font-size: 2em;
  line-height: 1em;
  display: block;
  margin-bottom: -18px;
}

/* line 104, ../scss/infographic.scss */
.chart-1 img {
  margin-top: -48px;
}
/* line 107, ../scss/infographic.scss */
.chart-1 h3 {
  color: #fff;
  margin: 0 0 0 24px;
  width: 300px;
  display: block;
  position: relative;
  top: 20px;
}

/* line 117, ../scss/infographic.scss */
.digit-3 .yellow span {
  font-size: 3em;
  display: block;
  float: left;
  margin-right: 20px;
  line-height: 30px;
}
/* line 124, ../scss/infographic.scss */
.digit-3 p {
  margin-bottom: 20px;
}

/* line 128, ../scss/infographic.scss */
.digit-4 {
  display: table;
  background-color: #000;
}
/* line 131, ../scss/infographic.scss */
.digit-4 .wrapper {
  display: table;
  background-color: #000;
  height: 100%;
  padding: 10px;
  margin-top: 80px;
}
/* line 138, ../scss/infographic.scss */
.digit-4 p {
  color: #fff;
  margin-bottom: 0px;
}
/* line 142, ../scss/infographic.scss */
.digit-4 img {
  float: left;
  margin-right: 10px;
  width: 100%;
  max-width: 450px;
}
/* line 148, ../scss/infographic.scss */
.digit-4 .white span {
  font-size: 2.4em;
  line-height: 52px;
}

/* line 153, ../scss/infographic.scss */
.digit-5 {
  display: table;
  background-color: #000;
  margin-top: 1px;
}
/* line 157, ../scss/infographic.scss */
.digit-5 .wrapper {
  display: table;
  background-color: #000;
  height: 100%;
  padding: 10px;
  margin-top: 50px;
}
/* line 164, ../scss/infographic.scss */
.digit-5 p {
  color: #fff;
  margin-bottom: 0px;
}
/* line 168, ../scss/infographic.scss */
.digit-5 img {
  float: right;
  margin-left: 10px;
  width: 100%;
  max-width: 450px;
}
/* line 174, ../scss/infographic.scss */
.digit-5 .white span {
  font-size: 2em;
  line-height: 42px;
}

/* line 179, ../scss/infographic.scss */
.digit-6 {
  background: url("../img/infographic/border.png") repeat;
  padding: 10px;
}
/* line 182, ../scss/infographic.scss */
.digit-6 .whitewrap {
  background-color: #fff;
  padding: 16px;
}
/* line 185, ../scss/infographic.scss */
.digit-6 .whitewrap p {
  margin-bottom: 0;
}
/* line 188, ../scss/infographic.scss */
.digit-6 .whitewrap .yellow span {
  font-size: 4em;
  line-height: 80px;
}

/* line 194, ../scss/infographic.scss */
.digit-7 {
  background: url("../img/infographic/border.png") repeat;
  padding: 10px;
  margin-top: 40px;
}
/* line 198, ../scss/infographic.scss */
.digit-7 img {
  float: right;
  margin-left: 10px;
  position: relative;
  right: -15px;
  margin-top: -40px;
}
/* line 205, ../scss/infographic.scss */
.digit-7 .whitewrap {
  background-color: #fff;
  padding: 16px;
}
/* line 208, ../scss/infographic.scss */
.digit-7 .whitewrap p {
  margin-bottom: 0;
}
/* line 211, ../scss/infographic.scss */
.digit-7 .whitewrap .yellow span {
  font-size: 3em;
  line-height: 60px;
}

/* line 217, ../scss/infographic.scss */
.text-on-yellow {
  font-size: 1.5em !important;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background-color: #ffcc00;
  padding: 30px;
  display: block;
  width: 100%;
  margin: 50px 0 0 0;
}

/* line 228, ../scss/infographic.scss */
.chart-9 {
  width: 49%;
  display: table;
  float: left;
  margin-right: 5px;
}
/* line 233, ../scss/infographic.scss */
.chart-9 img {
  margin-top: 25px;
}

/* line 237, ../scss/infographic.scss */
.chart-10 {
  width: 49%;
  display: table;
  margin-left: 5px;
}

/* line 243, ../scss/infographic.scss */
h2.h2:after {
  content: '';
  display: block;
  background-color: #282f32;
  width: 100%;
  height: 4px;
  position: relative;
  top: 3px;
}

/* line 254, ../scss/infographic.scss */
.animatedblock {
  visibility: hidden;
}

/* line 258, ../scss/infographic.scss */
.animated {
  visibility: visible;
  -webkit-animation: cd-bounce-1 1s;
  -moz-animation: cd-bounce-1 1s;
  animation: cd-bounce-1 1s;
}

@media screen and (max-width: 767px) {
  /* line 267, ../scss/infographic.scss */
  .animatedblock {
    visibility: visible;
  }

  /* line 271, ../scss/infographic.scss */
  .animated {
    visibility: hidden;
  }
}
@media (max-width: 479px) {
  /* line 278, ../scss/infographic.scss */
  .digit-1 p {
    left: 5.2%;
  }
  /* line 281, ../scss/infographic.scss */
  .digit-1 .yellow, .digit-1 .white {
    left: 3%;
  }
  /* line 283, ../scss/infographic.scss */
  .digit-1 .yellow span, .digit-1 .white span {
    font-size: 3em;
  }

  /* line 290, ../scss/infographic.scss */
  .digit-2 .whitewrap .left-digit {
    width: 100%;
    display: block;
  }
  /* line 293, ../scss/infographic.scss */
  .digit-2 .whitewrap .left-digit .yellow span {
    font-size: 2.6em;
  }
  /* line 297, ../scss/infographic.scss */
  .digit-2 .whitewrap .right-digit {
    width: 100%;
  }

  /* line 304, ../scss/infographic.scss */
  .digit-6 .whitewrap .yellow span {
    font-size: 2em;
  }

  /* line 310, ../scss/infographic.scss */
  .digit-7 img {
    display: none;
    visibility: hidden;
  }
  /* line 315, ../scss/infographic.scss */
  .digit-7 .whitewrap .yellow span {
    font-size: 2.4em;
  }

  /* line 320, ../scss/infographic.scss */
  .chart-9 {
    width: 100%;
  }

  /* line 323, ../scss/infographic.scss */
  .chart-10 {
    width: 100%;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0em);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: translateY(3em);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0em);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3em);
    -moz-transform: translateY(3em);
    -ms-transform: translateY(3em);
    -o-transform: translateY(3em);
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0em);
    -moz-transform: translateY(0em);
    -ms-transform: translateY(0em);
    -o-transform: translateY(0em);
    transform: translateY(0em);
  }
}
