.PTSansCaption, .blockquote {
  font-family: "PT Sans Caption", sans-serif;
}

.headlineBook, .content-list, .announce__chapter__date, .photo-desc {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 400;
}

.headlineBlack, .title, .first-paragraph:first-letter {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 900;
}

.PTSerif, .content {
  font-family: 'PT Serif', serif;
}

.title--panel {
  font-size: 26px;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h2, .h2 {
  margin-top: 30px;
}

.top-panel {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  line-height: 70px;
  height: 70px;
  background: #fff;
  z-index: 3;
  -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s top;
  transition: 0.3s top;
}

.top-panel.top {
  top: -70px;
}

@media (max-width: 767px) {
  .timeline-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
}

.timeline {
  font-size: 18px;
  margin: 0;
}

.timeline__item {
  float: left;
  list-style-type: none;
  margin-left: 15px;
}

.timeline__item a {
  display: block;
}

.timeline__item:first-child {
  margin-left: 0;
}

.timeline__item.active a,
.timeline__item:hover a {
  color: #fea600;
}

.timeline__item span {
  color: #999;
}

a.top-panel__logo {
  display: inline-block;
  vertical-align: top;
}

a.top-panel__logo:last-child {
  margin-left: 20px;
}

.top-panel__logo img {
  display: inline-block;
  max-height: 70px;
  vertical-align: top;
}

img.top-panel__logo--middle {
  vertical-align: middle;
}

.intro {
  color: #fff;
  position: relative;
  padding-top: 70px;
  min-height: 640px;
}

.intro__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.intro__bg--main {
  background: url("../img/intro-img.jpg") no-repeat 50% 100%;
  background-size: cover;
  background-attachment: fixed;
}

.intro__bg__infographic {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background: url("../img/infographic-bg.jpg") no-repeat 50% 100%;
  background-size: cover;
  background-attachment: fixed;
}

.intro__content {
  position: relative;
}

.chapter__number {
  position: relative;
}
@media (max-width: 767px) {
  .chapter__number {
    margin-bottom: 30px;
  }
}

.chapter__number__title {
  position: absolute;
  right: -8px;
  top: 30px;
  margin: 0;
  font-size: 24px;
  padding: 10px 0;
}

.chapter__title {
  line-height: normal;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-left: 50px;
}
@media (max-width: 767px) {
  .chapter__title {
    padding: 0;
    font-size: 50px;
  }
}
.chapter__title--small {
  font-size: 54px;
}
@media (max-width: 767px) {
  .chapter__title--small {
    font-size: 44px;
  }
}

.chapter__title:before,
.chapter__title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  border-left: 1px solid #ffcc00;
}
@media (max-width: 767px) {
  .chapter__title:before,
  .chapter__title:after {
    display: none;
  }
}

.chapter__title:before {
  top: 0;
  height: 30px;
}

.chapter__title:after {
  top: 74px;
  height: 100%;
}

.preface__inner {
  position: relative;
  background: #fff;
}

.preface__header {
  padding: 20px 0 0;
}

.preface__header__description {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.preface__logo {
  margin-bottom: 10px;
}

.arrow-line {
  height: 16px;
}
.arrow-line:before, .arrow-line:after {
  position: absolute;
  content: '';
  display: block;
}
.arrow-line:before {
  border-top: 1px solid;
  top: 10px;
  left: 0;
  width: 100%;
}
.arrow-line:after {
  width: 16px;
  height: 16px;
  border: 1px solid;
  left: 80%;
  top: 2px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: transparent #000 #000 transparent;
}

.preface .preface__photo-desc {
  font-size: 14px;
  border: 0;
  padding: 0 10px;
}

.preface__body {
  padding-top: 20px;
}

.preface__body p {
  font-size: 18px;
  line-height: 28px;
}

.feature {
  height: 100vh;
  position: relative;
}

.feature--inline {
  height: auto;
  margin-bottom: 25px;
}
.feature--inline video {
  width: 100%;
}

.feature__caption {
  color: #999;
  border-bottom: 1px solid #666;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 28px;
  font-family: "ff-good-headline-web-pro-con",sans-serif;
}

.feature__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.feature.playing .feature__controls {
  background: none;
}

.feature__video {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  display: none;
  background: url("../img/intro-img.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.feature.active .feature__video {
  display: inline-block;
}

.feature__media {
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  .feature__media {
    padding: 0 !important;
  }
}

.feature__text {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  line-height: 28px;
  color: #fff;
  width: 360px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  border-left: 1px solid #fea600;
}
@media (max-width: 959px) {
  .feature__text {
    position: static;
    padding: 20px;
    width: inherit;
    border: 0;
  }
}
.feature__text p {
  margin: 0 0 0 25px;
}

.content .ib {
  background: #fff;
}

.content p {
  line-height: 28px;
  font-size: 16px;
}

.title--start {
  margin-top: 50px;
}

.title--divider {
  margin-top: 50px;
}

p.editor-string {
  font-size: 18px;
  color: #9a9999;
}

.editor-string i {
  color: #000;
}

.rails {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.rails__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar {
  z-index: 1;
  opacity: 0;
  margin: 0 0 50px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.sidebar.visible {
  opacity: 1;
}

.sidebar.top {
  position: absolute;
  top: 0;
  bottom: inherit;
  opacity: 0;
}

.sidebar.fixed {
  position: fixed;
  top: 120px;
  bottom: inherit;
}

.sidebar.bottom {
  position: absolute;
  top: inherit;
  bottom: 0;
  opacity: 0;
}

.content-list {
  font-size: 16px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.content-list:before, .content-list:after {
  content: '';
  display: block;
  width: 1px;
  height: 50%;
  position: absolute;
  border-left: 1px solid #bbb;
  left: 16px;
}
.content-list:before {
  top: 14px;
}
.content-list:after {
  bottom: 14px;
}

.content-list__item {
  position: relative;
}
.content-list__item:before {
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background: #bbb;
  display: none;
  position: absolute;
  left: 14px;
  top: 50%;
  z-index: 1;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.content-list__item:first-child:before,
.content-list__item:last-child:before {
  display: block;
}

.content-list__item a {
  border: 3px solid transparent;
  display: block;
  padding: 3px 0 3px 30px;
}

.content-list__item.active a {
  border: 3px solid #ffcc00;
  padding-left: 30px;
}

.support {
  border-top: 8px solid;
  padding: 20px 0 65px;
}

.support__title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.footer {
  background: #282f32;
  color: #fff;
}

.announce__chapter {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.announce__chapter__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.announce__chapter__date {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
  text-align: center;
  font-size: 24px;
  color: #bbb;
}

.announce__chapter__date__inner {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 0 30px 15px;
}

.copyright {
  font-size: 16px;
  color: #9a9999;
  margin-top: 50px;
  border-top: 1px solid #fff;
  padding: 30px 0;
}

.announce__chapter__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.announce__link:hover .announce__chapter__bg {
  top: -10%;
  height: 120%;
}

/**
 * IMG WITH CAPTION
 */
figure {
  margin-bottom: 25px;
}

.figure__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

figcaption {
  color: #999;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 28px;
  font-family: "ff-good-headline-web-pro-con",sans-serif;
}

/**
 * SOCIAL LIKES
 */
.social-likes {
  margin-top: 50px;
}

@media (min-width: 767px) {
  .social-likes {
    padding-left: 50px;
  }
}
@media (max-width: 479px) {
  .social-likes > .social-likes__widget {
    display: inline-block !important;
  }
}
/**
 * INTRO SECTION
 */
.intro__bg--chapter2 {
  background: url(../img/chapter2/chapter2__bg-intro.jpg) no-repeat center 40px;
  background-size: cover;
  background-attachment: fixed;
}

/**
 * INTRO SECTION
 */
.intro__bg--chapter5 {
  background: #486381 url(../img/chapter5/chapter5__bg-intro.jpg) no-repeat center 40px;
  background-size: cover;
  background-attachment: fixed;
}

.intro__bg--chapter4 {
  background: #486381 url(../img/chapter4/chapter4__bg-intro.jpg) no-repeat center 40px;
  background-size: cover;
  background-attachment: fixed;
}

.intro__bg--chapter3 {
  background: #486381 url(../img/chapter3/chapter3__bg-intro.jpg) no-repeat center 40px;
  background-size: cover;
  background-attachment: fixed;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #282f32;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.photo-desc {
  color: #666;
  font-size: 18px;
  border-bottom: 1px solid #282f32;
  margin-top: -10px;
  padding: 0 0 7px;
}

.vcenter {
  display: table;
  height: 100%;
  width: 100%;
}

.vcentered {
  display: table-cell;
  vertical-align: middle;
}

.first-paragraph:first-letter {
  font-size: 74px;
  display: inline-block;
  float: left;
  margin: -8px 5px 0 0;
  line-height: 0.8em;
}

.first-paragraph--dots:after {
  content: '***';
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 90px;
}

.inline-img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 20px;
}

.blockfloat {
  position: relative;
}

.blockfloat:after {
  content: '';
  display: block;
  clear: both;
}

.blockfloat--left {
  float: left;
  margin-right: 50px;
  margin-left: -200px;
}

.blockfloat--right {
  float: right;
  margin-left: 50px;
  margin-right: -150px;
}

.white-block {
  position: relative;
  background: #fff;
  z-index: 1;
}

.white-block--with-nav {
  z-index: 2;
}

.white-block--text {
  padding: 0 0 0;
}

.blockquote {
  display: block;
  position: relative;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  font-size: 18px !important;
}

.blockquote:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  line-height: 28px;
  border-left: 1px solid #fea600;
}

.bg-img {
  position: relative;
  z-index: 2;
}

.bg-img--fluid {
  margin-bottom: 30px;
}

.imgloader-wrap {
  height: 10px;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.imgloader-progress {
  position: relative;
  width: 0%;
  height: 100%;
  background: #000;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.loader-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 18px;
}

body.fixed {
  overflow: hidden;
}

@media (max-width: 1023px) {
  .feature__controls {
    background-size: 5%;
  }

  .feature__controls:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/play.svg) no-repeat 50% 50%;
    background-size: 5%;
  }

  .playing .feature__controls:after {
    background: none;
  }

  .feature__controls--1 {
    background: url(../video/fallback/1.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  .feature__controls--2 {
    background: url(../video/fallback/2.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  .feature__controls--3 {
    background: url(../video/fallback/3.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  .feature__controls--4 {
    background: url(../video/fallback/4.jpg) no-repeat 50% 50%;
    background-size: cover;
  }

  .test__start {
    float: inherit !important;
  }

  .social-likes {
    display: block;
    margin: 10px 0 20px;
  }
  .social-likes > .social-likes__widget {
    margin: 0 5px 8px 0;
  }

  .test__answer__list__item {
    display: block !important;
    float: inherit !important;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }

  .iblock {
    right: inherit;
    left: inherit;
    position: inherit;
    float: inherit;
    width: inherit;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  .top-panel__logo img {
    max-height: 25px;
    vertical-align: middle;
  }

  .top-panel__logo--rosneft {
    margin-bottom: 10px;
  }
}
@media (max-width: 479px) {
  .social-likes > .social-likes__widget {
    display: block;
  }
}
