/* line 1, ../scss/_typo.scss */
.PTSansCaption, .blockquote {
  font-family: "PT Sans Caption", sans-serif;
}

/* line 4, ../scss/_typo.scss */
.headlineBook, .content-list, .announce__chapter__date, .photo-desc {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* line 9, ../scss/_typo.scss */
.headlineBlack, .title, .first-paragraph:first-letter {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 900;
}

/* line 14, ../scss/_typo.scss */
.PTSerif, .content {
  font-family: 'PT Serif', serif;
}

/* line 20, ../scss/_typo.scss */
.title--panel {
  font-size: 26px;
}

/* line 24, ../scss/_typo.scss */
a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

/* line 29, ../scss/_typo.scss */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 1, ../scss/_panel.scss */
.top-panel {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  line-height: 70px;
  height: 70px;
  background: #fff;
  z-index: 3;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s top;
  -moz-transition: 0.3s top;
  -ms-transition: 0.3s top;
  -o-transition: 0.3s top;
  transition: 0.3s top;
}

/* line 21, ../scss/_panel.scss */
.top-panel.top {
  top: -70px;
}

@media (max-width: 767px) {
  /* line 25, ../scss/_panel.scss */
  .timeline-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
}

/* line 37, ../scss/_panel.scss */
.timeline {
  font-size: 18px;
  margin: 0;
}

/* line 41, ../scss/_panel.scss */
.timeline__item {
  float: left;
  list-style-type: none;
  margin-left: 15px;
}

/* line 46, ../scss/_panel.scss */
.timeline__item:first-child {
  margin-left: 0;
}

/* line 49, ../scss/_panel.scss */
.timeline__item.active a,
.timeline__item:hover a {
  color: #fea600;
}

/* line 53, ../scss/_panel.scss */
.timeline__item span {
  color: #999;
}

/* line 59, ../scss/_panel.scss */
a.top-panel__logo {
  display: inline-block;
  vertical-align: top;
}

/* line 63, ../scss/_panel.scss */
a.top-panel__logo:last-child {
  margin-left: 20px;
}

/* line 67, ../scss/_panel.scss */
.top-panel__logo img {
  display: inline-block;
  max-height: 70px;
  vertical-align: top;
}

/* line 77, ../scss/_panel.scss */
img.top-panel__logo--middle {
  vertical-align: middle;
}

/* line 2, ../scss/_intro.scss */
.intro {
  color: #fff;
  position: relative;
  padding-top: 70px;
  min-height: 640px;
}

/* line 9, ../scss/_intro.scss */
.intro__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background: url("../img/intro-img.jpg") no-repeat 50% 100%;
  background-size: cover;
  background-attachment: fixed;
}

/* line 20, ../scss/_intro.scss */
.intro__content {
  position: relative;
}

/* line 31, ../scss/_intro.scss */
.chapter__number {
  position: relative;
}
@media (max-width: 767px) {
  /* line 31, ../scss/_intro.scss */
  .chapter__number {
    margin-bottom: 30px;
  }
}

/* line 37, ../scss/_intro.scss */
.chapter__number__title {
  position: absolute;
  right: -8px;
  top: 30px;
  margin: 0;
  font-size: 24px;
  padding: 10px 0;
}

/* line 46, ../scss/_intro.scss */
.chapter__title {
  line-height: normal;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-left: 50px;
}
@media (max-width: 767px) {
  /* line 46, ../scss/_intro.scss */
  .chapter__title {
    padding: 0;
    font-size: 50px;
  }
}

/* line 57, ../scss/_intro.scss */
.chapter__title:before,
.chapter__title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  border-left: 1px solid #ffcc00;
}
@media (max-width: 767px) {
  /* line 57, ../scss/_intro.scss */
  .chapter__title:before,
  .chapter__title:after {
    display: none;
  }
}

/* line 69, ../scss/_intro.scss */
.chapter__title:before {
  top: 0;
  height: 30px;
}

/* line 73, ../scss/_intro.scss */
.chapter__title:after {
  top: 74px;
  height: 100%;
}

/* line 2, ../scss/_preface.scss */
.preface__inner {
  position: relative;
  background: #fff;
}

/* line 6, ../scss/_preface.scss */
.preface__header {
  padding: 20px 0 0;
}

/* line 9, ../scss/_preface.scss */
.preface__header__description {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 15, ../scss/_preface.scss */
.preface__logo {
  margin-bottom: 10px;
}

/* line 18, ../scss/_preface.scss */
.arrow-line {
  height: 16px;
}
/* line 20, ../scss/_preface.scss */
.arrow-line:before, .arrow-line:after {
  position: absolute;
  content: '';
  display: block;
}
/* line 26, ../scss/_preface.scss */
.arrow-line:before {
  border-top: 1px solid;
  top: 10px;
  left: 0;
  width: 100%;
}
/* line 32, ../scss/_preface.scss */
.arrow-line:after {
  width: 16px;
  height: 16px;
  border: 1px solid;
  left: 80%;
  top: 2px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-color: transparent #000 #000 transparent;
}

/* line 47, ../scss/_preface.scss */
.preface .preface__photo-desc {
  font-size: 14px;
  border: 0;
  padding: 0 10px;
}

/* line 52, ../scss/_preface.scss */
.preface__body {
  padding-top: 20px;
}

/* line 55, ../scss/_preface.scss */
.preface__body p {
  font-size: 18px;
  line-height: 28px;
}

/* line 1, ../scss/_feature.scss */
.feature {
  height: 100vh;
  position: relative;
}

/* line 6, ../scss/_feature.scss */
.feature__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 15, ../scss/_feature.scss */
.feature__video {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: none;
}

/* line 32, ../scss/_feature.scss */
.feature.active .feature__video {
  display: inline-block;
}

/* line 37, ../scss/_feature.scss */
.feature__media {
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  /* line 37, ../scss/_feature.scss */
  .feature__media {
    padding: 0 !important;
  }
}

/* line 48, ../scss/_feature.scss */
.feature__text {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  line-height: 28px;
  color: #fff;
  width: 360px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  border-left: 1px solid #fea600;
}
@media (max-width: 959px) {
  /* line 48, ../scss/_feature.scss */
  .feature__text {
    position: static;
    padding: 20px;
    width: inherit;
    border: 0;
  }
}
/* line 63, ../scss/_feature.scss */
.feature__text p {
  margin: 0 0 0 25px;
}

/* line 11, ../scss/_content.scss */
.content .ib {
  background: #fff;
}

/* line 15, ../scss/_content.scss */
.content p {
  line-height: 28px;
  font-size: 16px;
}

/* line 19, ../scss/_content.scss */
.title--start {
  margin-top: 50px;
}

/* line 22, ../scss/_content.scss */
.title--divider {
  margin-top: 50px;
}

/* line 26, ../scss/_content.scss */
p.editor-string {
  font-size: 18px;
  color: #9a9999;
}

/* line 30, ../scss/_content.scss */
.editor-string i {
  color: #000;
}

/* line 34, ../scss/_content.scss */
.rails {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 40, ../scss/_content.scss */
.rails__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 46, ../scss/_content.scss */
.sidebar {
  z-index: 1;
  opacity: 0;
  margin: 0 0 50px;
  -webkit-transition: 0.2s opacity;
  -moz-transition: 0.2s opacity;
  -ms-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

/* line 56, ../scss/_content.scss */
.sidebar.visible {
  opacity: 1;
}

/* line 59, ../scss/_content.scss */
.sidebar.top {
  position: absolute;
  top: 0;
  bottom: inherit;
  opacity: 0;
}

/* line 65, ../scss/_content.scss */
.sidebar.fixed {
  position: fixed;
  top: 120px;
  bottom: inherit;
}

/* line 70, ../scss/_content.scss */
.sidebar.bottom {
  position: absolute;
  top: inherit;
  bottom: 0;
  opacity: 0;
}

/* line 77, ../scss/_content.scss */
.content-list {
  font-size: 16px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 84, ../scss/_content.scss */
.content-list:before, .content-list:after {
  content: '';
  display: block;
  width: 1px;
  height: 50%;
  position: absolute;
  border-left: 1px solid #bbb;
  left: 16px;
}
/* line 94, ../scss/_content.scss */
.content-list:before {
  top: 14px;
}
/* line 97, ../scss/_content.scss */
.content-list:after {
  bottom: 14px;
}

/* line 102, ../scss/_content.scss */
.content-list__item {
  position: relative;
}
/* line 104, ../scss/_content.scss */
.content-list__item:before {
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background: #bbb;
  display: none;
  position: absolute;
  left: 14px;
  top: 50%;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 122, ../scss/_content.scss */
.content-list__item:first-child:before,
.content-list__item:last-child:before {
  display: block;
}

/* line 127, ../scss/_content.scss */
.content-list__item a {
  border: 3px solid transparent;
  display: block;
  padding: 3px 0 3px 30px;
}

/* line 132, ../scss/_content.scss */
.content-list__item.active a {
  border: 3px solid #ffcc00;
  padding-left: 30px;
}

/* line 1, ../scss/_support.scss */
.support {
  border-top: 8px solid;
  padding: 20px 0 65px;
}

/* line 5, ../scss/_support.scss */
.support__title {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

/* line 1, ../scss/_footer.scss */
.footer {
  background: #282f32;
  color: #fff;
}

/* line 9, ../scss/_footer.scss */
.announce__chapter {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 16, ../scss/_footer.scss */
.announce__chapter__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* line 24, ../scss/_footer.scss */
.announce__chapter__date {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
  text-align: center;
  font-size: 24px;
  color: #bbb;
}

/* line 34, ../scss/_footer.scss */
.announce__chapter__date__inner {
  display: inline-block;
  border-bottom: 1px solid #fff;
  padding: 0 30px 15px;
}

/* line 40, ../scss/_footer.scss */
.copyright {
  font-size: 16px;
  color: #9a9999;
  margin-top: 50px;
  border-top: 1px solid #fff;
  padding: 30px 0;
}

/* line 47, ../scss/_footer.scss */
.announce__chapter__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/* line 59, ../scss/_footer.scss */
.announce__link:hover .announce__chapter__bg {
  top: -10%;
  height: 120%;
}

/* line 13, ../scss/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #282f32;
}

/* line 19, ../scss/style.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 23, ../scss/style.scss */
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

/* line 29, ../scss/style.scss */
.photo-desc {
  color: #666;
  font-size: 18px;
  border-bottom: 1px solid #282f32;
  margin-top: -10px;
  padding: 0 0 7px;
}

/* line 38, ../scss/style.scss */
.vcenter {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 43, ../scss/style.scss */
.vcentered {
  display: table-cell;
  vertical-align: middle;
}

/* line 48, ../scss/style.scss */
.first-paragraph:first-letter {
  font-size: 74px;
  display: inline-block;
  float: left;
  margin: -8px 5px 0 0;
  line-height: 0.8em;
}

/* line 57, ../scss/style.scss */
.inline-img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 20px;
}

/* line 62, ../scss/style.scss */
.blockfloat {
  position: relative;
}

/* line 65, ../scss/style.scss */
.blockfloat:after {
  content: '';
  display: block;
  clear: both;
}

/* line 70, ../scss/style.scss */
.blockfloat--left {
  float: left;
  margin-right: 50px;
  margin-left: -200px;
}

/* line 75, ../scss/style.scss */
.blockfloat--right {
  float: right;
  margin-left: 50px;
  margin-right: -150px;
}

/* line 80, ../scss/style.scss */
.white-block {
  position: relative;
  background: #fff;
  z-index: 1;
}

/* line 85, ../scss/style.scss */
.white-block--with-nav {
  z-index: 2;
}

/* line 88, ../scss/style.scss */
.white-block--text {
  padding: 0 0 0;
}

/* line 93, ../scss/style.scss */
.blockquote {
  display: block;
  position: relative;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  font-size: 18px !important;
}

/* line 103, ../scss/style.scss */
.blockquote:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  line-height: 28px;
  border-left: 1px solid #fea600;
}

/* line 2, ../scss/_preloader.scss */
.imgloader-wrap {
  height: 10px;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* line 11, ../scss/_preloader.scss */
.imgloader-progress {
  position: relative;
  width: 0%;
  height: 100%;
  background: #000;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* line 27, ../scss/_preloader.scss */
.loader-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 18px;
}

/* line 40, ../scss/_preloader.scss */
body.fixed {
  overflow: hidden;
}

@media (max-width: 767px) {
  /* line 2, ../scss/_mobile.scss */
  .container {
    padding: 0 20px;
  }

  /* line 5, ../scss/_mobile.scss */
  .iblock {
    right: inherit;
    left: inherit;
    position: inherit;
    float: inherit;
    width: inherit;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 16, ../scss/_mobile.scss */
  .top-panel__logo img {
    max-height: 25px;
    vertical-align: middle;
  }

  /* line 20, ../scss/_mobile.scss */
  .top-panel__logo--rosneft {
    margin-bottom: 10px;
  }
}
