/* line 1, ../scss/_typo.scss */
.PTSansCaption {
  font-family: "PT Sans Caption", sans-serif;
}

/* line 4, ../scss/_typo.scss */
.headlineBook {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* line 9, ../scss/_typo.scss */
.headlineBlack, .title {
  font-family: "ff-good-headline-web-pro-con",sans-serif;
  font-style: normal;
  font-weight: 900;
}

/* line 14, ../scss/_typo.scss */
.PTSerif {
  font-family: 'PT Serif', serif;
}

/* line 20, ../scss/_typo.scss */
.title--panel {
  font-size: 26px;
}

/* line 24, ../scss/_typo.scss */
a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

/* line 29, ../scss/_typo.scss */
a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 4, ../scss/test.scss */
.test-screen {
  min-height: 100vh;
  position: relative;
  padding: 140px 0 70px;
  background: #000;
}

/* line 10, ../scss/test.scss */
.test-screen__bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 18, ../scss/test.scss */
.test-screen__bg__video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 33, ../scss/test.scss */
.test {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* line 37, ../scss/test.scss */
.test__inner {
  padding: 30px 65px;
}

/* line 40, ../scss/test.scss */
.test__header {
  border-bottom: 1px solid #ffcc00;
}

/* line 44, ../scss/test.scss */
.test__btn--to-results {
  display: none;
}

/* line 50, ../scss/test.scss */
.in-results .for-progress {
  display: none;
}

/* line 51, ../scss/test.scss */
.in-progress .for-results {
  display: none;
}

/* line 53, ../scss/test.scss */
.in-last .test__btn--next {
  display: none;
}

/* line 54, ../scss/test.scss */
.in-last .test__btn--to-results {
  display: inherit;
}

/* line 56, ../scss/test.scss */
.checked .test__btn--next {
  opacity: inherit;
}

/* line 60, ../scss/test.scss */
.test__result__header {
  margin-bottom: 0;
}

/* line 65, ../scss/test.scss */
.test__header__numbers {
  background: #fff;
  float: right;
  font-size: 34px;
  margin-bottom: -0.3em;
  padding: 0 0 0 10px;
}
/* line 71, ../scss/test.scss */
.test__header__numbers__current, .test__header__numbers__total {
  margin: 0;
  display: inline-block;
}
/* line 76, ../scss/test.scss */
.test__header__numbers__current {
  font-size: 47px;
}
/* line 79, ../scss/test.scss */
.test__header__numbers__total {
  font-size: 28px;
}

/* line 85, ../scss/test.scss */
.test__answer__list {
  overflow: hidden;
}
/* line 87, ../scss/test.scss */
.test__answer__list__item {
  background: #f0f0f0;
  float: left;
}
/* line 90, ../scss/test.scss */
.test__answer__list__item span {
  display: block;
  padding: 18px 25px;
  font-weight: bold;
}
/* line 94, ../scss/test.scss */
.test__answer__list__item span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  border: 1px solid #D0D0D0;
  background: #fff;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 111, ../scss/test.scss */
.test__answer__list__item:hover span:before {
  background: #000;
  border-color: #000;
}
/* line 116, ../scss/test.scss */
.test__answer__list__item.checked, .test__answer__list__item.success, .test__answer__list__item.fail {
  background: none;
}
/* line 121, ../scss/test.scss */
.test__answer__list__item.success {
  color: #ffcc00;
}
/* line 122, ../scss/test.scss */
.test__answer__list__item.success span:before {
  background: #ffcc00;
  border-color: #ffcc00;
}
/* line 128, ../scss/test.scss */
.test__answer__list__item.fail {
  color: #f78b8b;
  text-decoration: line-through;
}
/* line 129, ../scss/test.scss */
.test__answer__list__item.fail span:before {
  background: #f78b8b;
  border-color: #f78b8b;
}

/* line 139, ../scss/test.scss */
.js-test-text {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 20px;
}
/* line 143, ../scss/test.scss */
.js-test-text p:last-child {
  margin-bottom: 0;
}

/* line 148, ../scss/test.scss */
.test__text {
  background: #f2f1ed;
}

/* line 152, ../scss/test.scss */
.test__btn {
  color: #ffcc00;
  border: 2px solid #ffcc00;
  background: #fff;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}
/* line 163, ../scss/test.scss */
.test__btn:hover {
  background: #ffcc00;
  color: #fff;
}

/* line 170, ../scss/test.scss */
.wait .test__btn--next,
.wait .test__btn--to-results {
  cursor: auto;
  border-color: #9a9999;
  color: #9a9999;
}

/* line 176, ../scss/test.scss */
.wait .test__btn--next:hover,
.wait .test__btn--to-results:hover {
  background: #fff;
  color: #9a9999;
}

/* line 182, ../scss/test.scss */
.test__results {
  background: #4a4a4a;
  padding: 40px 0;
  color: #fff;
  font-size: 18px;
  background: url("../img/test_bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

/* line 194, ../scss/test.scss */
.js-test-text {
  display: none;
}

/* line 200, ../scss/test.scss */
.test__start {
  float: right;
}
