.feature {
	height: 100vh;
	position: relative;
}

.feature__controls {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.feature__video {
	
	position: fixed; 
	top: 50%; 
	left: 50%; 
	bottom: 0; 
	right: 0; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: none;
	//z-index: -1000;
}

.feature.active .feature__video {
	display: inline-block;
}


.feature__media {
	display: block;
	//max-width: 100%;
	width: 100%;
	@media (max-width: 767px) {
		padding: 0 !important;
	}
}



.feature__text {
	text-shadow: 0 0 8px rgba(0,0,0,0.5);
	line-height: 28px;
	color: #fff;
	width: 360px;
	position: absolute;
	left: 50%;
	bottom: 10%;
	border-left: 1px solid $color-orange;
	@media (max-width: 959px) {
		position: static;	
		padding: 20px;
		width: inherit;
		border: 0;
	}
	p {
		margin: 0 0 0 25px;
	}
}