@media (max-width: 1023px) {
	.feature__controls {
		//background: url(../img/play.svg) no-repeat 50% 50%, rgba(0,0,0,0.8);
		background-size: 5%;
	}
	.feature__controls:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../img/play.svg) no-repeat 50% 50%;
		background-size: 5%
	}
	.playing .feature__controls:after {
		background: none
	}
	.feature__controls--1 {
		background: url(../video/fallback/1.jpg) no-repeat 50% 50%;
		background-size: cover;
	}
	.feature__controls--2 {
		background: url(../video/fallback/2.jpg) no-repeat 50% 50%;
		background-size: cover;
	}
	.feature__controls--3 {
		background: url(../video/fallback/3.jpg) no-repeat 50% 50%;
		background-size: cover;
	}
	.feature__controls--4 {
		background: url(../video/fallback/4.jpg) no-repeat 50% 50%;
		background-size: cover;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 20px;			
	}
	.iblock {
		right: inherit;
		left: inherit;
		position: inherit;
		float: inherit;
		width: inherit;
		display: block;
		margin-left: 0;
		margin-right: 0;
	}

	.top-panel__logo img {
		max-height: 25px;
		vertical-align: middle;
	}
	.top-panel__logo--rosneft {
		margin-bottom: 10px
	}
}
