@media (max-width: 767px) {
	.container {
		padding: 0 20px;			
	}
	.iblock {
		right: inherit;
		left: inherit;
		position: inherit;
		float: inherit;
		width: inherit;
		display: block;
		margin-left: 0;
		margin-right: 0;
	}

	.top-panel__logo img {
		max-height: 25px;
		vertical-align: middle;
	}
	.top-panel__logo--rosneft {
		margin-bottom: 10px
	}
}
