@media (max-width: 767px) {
	.container {
		padding: 0 20px;			
	}
	.iblock {
		right: inherit;
		left: inherit;
		position: inherit;
		float: inherit;
		width: inherit;
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
}
