.top-panel {
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	line-height: $panelHeight;
	height: $panelHeight;
	background: #fff;
	z-index: 3;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 8px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 0 8px rgba(0,0,0,0.2);
	-o-box-shadow: 0 0 8px rgba(0,0,0,0.2);
	box-shadow: 0 0 8px rgba(0,0,0,0.2);
	-webkit-transition: 0.3s top;
	-moz-transition: 0.3s top;
	-ms-transition: 0.3s top;
	-o-transition: 0.3s top;
	transition: 0.3s top;
}
.top-panel.top {
	top: - $panelHeight;
}

.timeline-wrap {
	@media (max-width: 767px) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $panelHeight;
		line-height: $panelHeight;
		text-align: center;

	}
}
.timeline {
	font-size: 18px;
	margin: 0
}
.timeline__item {
	float: left;
	list-style-type: none;
	margin-left: 15px;
}
.timeline__item a {
	display: block;
}
.timeline__item:first-child {
	margin-left: 0;
}
.timeline__item.active a,
.timeline__item:hover a {
	color: $color-orange;
}
.timeline__item span {
	color: #999
}




/**
 * owners
 */
.top-panel__logo-group {
	margin-right: 35px;
}

a.top-panel__logo {
	display: inline-block;
	vertical-align: top;
	@media (max-width: 470px) {
		display: none;
	}
	@media (min-width:760px) {
		display: block;
	}
}
a.top-panel__logo:last-child {
	padding-left: 18px;
}

.top-panel__logo img {
	display: inline-block;
	max-height: $panelHeight;
	vertical-align: top;
}

.top-panel__logo--rosneft {
	margin-bottom: 5px;
}

img.top-panel__logo--middle {
	vertical-align: middle;
}
/**
 * lang switchcer
 */
.lang {

	position: relative;
	font-size: 0;
	&__link {
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	width: 45px;
	padding-top: 2px;
	&--right {
		text-align: right;
		margin: 0;
	}
	&--off {
		color: #d0d0d0;
	}
	}

}
.switcher {
	display: inline-block;
	width: 40px;
	height: 18px;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -12px;
	margin-left: -20px;
	z-index: -1;
}

.switcher:before {
	content: '';
	height: 24px;
	width: 24px;
	box-shadow: 0px 2px 2px 0px rgba(23, 28, 51, 0.15);
	position: absolute;
	background: #fff;
	top: 50%;
	margin-top: -12px;
	border-radius: 100%;
	z-index: 0;
}
.switcher--rus {
	background: url(../img/ln-rus.png) center right no-repeat;
}
.switcher--rus:before {
	left: -1px;
}
.switcher--eng {
	background: url(../img/ln-eng.png) center left no-repeat;
}
.switcher--eng:before{
	right: -1px;
}