.feature {
	background: #000;
	position: relative;
	margin-bottom: 50px;
}
.feature__media {
	display: block;
	max-width: 100%;
	@media (max-width: 767px) {
		padding: 0 !important;
	}
}

.feature__text {
	text-shadow: 0 0 8px rgba(0,0,0,0.5);
	line-height: 28px;
	color: #fff;
	width: 360px;
	position: absolute;
	left: 50%;
	bottom: 10%;
	border-left: 1px solid $color-orange;
	@media (max-width: 959px) {
		position: static;	
		padding: 20px;
		width: inherit;
		border: 0;
	}
	p {
		margin: 0 0 0 25px;
	}
}