@import 'variables';
@import 'typo';
@import 'panel';
@import 'intro';
@import 'preface';

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}


.paragraph {
	position: relative;
	background: yellow
}

.vcenter {
	display: table;
	height: 100%;
	width: 100%;
}
.vcentered {
display: table-cell;
vertical-align: middle
}

.paragraph {
	position: relative;
	background: #fff;
}

.first-paragraph-header {
	background: orange;
	padding: 20px 0;
}

@import 'mobile';
