

/**
 * INTRO SECTION
 */

.intro__bg-part2 {

}

.intro__bg--chapter2 {

 background: url(../img/chapter2/chapter2__bg-intro.jpg) no-repeat center 40px;

 background-size: cover;
 background-attachment: fixed;
}