/**
 * INTRO SECTION
 */

.intro__bg--chapter2 {

 background: url(../img/chapter2/chapter2__bg-intro.jpg) no-repeat center 40px;

 background-size: cover;
 background-attachment: fixed;
}

.intro__bg--chapter5 {

 background: #486381 url(../img/chapter5/chapter5__bg-intro.jpg) no-repeat center 40px;

 background-size: cover;
 background-attachment: fixed;
}

.intro__bg--chapter4 {
   background: #486381 url(../img/chapter4/chapter4__bg-intro.jpg) no-repeat center 40px;
   background-size: cover;
   background-attachment: fixed;
}
.intro__bg--chapter3 {
   background: #486381 url(../img/chapter3/chapter3__bg-intro.jpg) no-repeat center 40px;
   background-size: cover;
   background-attachment: fixed;
}